/* 구조적 */
:root {
  --text-color: #f0f4f5;
  --text-color1: #353535;
  --background-color: #263343;
  --background-color1: #c3cfdf;
  --accent-color: #d49466;
  --accent-color1: #263343;
  --font-size: 13px;
  --size-button: 60px;
  /* --font-family: "Cormorant Garamond", serif;
  --font: 'Lato', sans-serif; */
}
@font-face {
  src: url(/fonts/Noto_Sans/NotoSans-Light.ttf);
  font-family: 'Noto_Sans';
}

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
}
body {
  background: #e0e5ec;
  user-select:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
}
p {
  margin: 20px;
  text-align: center;
  color: #353535;
  font-size: 16px;
  font-family: 'Noto_Sans';
}
a {

}
nav a {
  text-align: center;
  color:#ccc;
}

/* 시작 : header */
.frame {
  margin: 0px auto;
  text-align: center;
}
.navbar {
  background-color:var(--background-color);
  padding: 10px 12px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.navbar_iconslogo {
  display: flex;
  position: absolute;
  align-items: center;
  left: 22px;
}
.navbar_iconslogo li {
  padding: 8px 0px;
}
.navbar_iconslogo img {
  width: 34px;
  display: block;
  margin: 0px;
}
.navbar_menu {
  display: flex;
  margin-left: 50px;
  position: relative;
}
.navbar_menu li {
  padding: 8px 12px;
  position: relative;
}
.navbar_menu a {
  opacity: 0.95;
}
.sub-menu1 {
  display: none;
  position: absolute;
  top: 100%;
  background-color:#263343;
  width: 100px;
  height: 80px;
  left: -8px;
}
li:hover > .sub-menu1 {
  display: inherit;
}
.sub-menu2 {
  display: none;
  position: absolute;
  top: 100%;
  background-color:#263343;
  width: 100px;
  height: 80px;
  left: -0px;
}
li:hover > .sub-menu2 {
  display: inherit;
}
.navbar_icons {
  display: flex;
  color:var(--text-color);
}
.navbar_icons li {
  padding: 8px 6px;
}
.navbar_icons img {
  width: 34px;  
}
.login {
  text-align: center;
  color:#1b2530;
  border-radius: 3px;
  background-color: #ccc;
  padding: 2px 10px;
  /* font-weight: bold; */
  letter-spacing: -1px;
}
.navbar_tooglebtn {
  display: none;
  position: absolute;
  right: 32px;
  top: 10px;
  font-size: 24px;
  color:#d49466;
}

/* 시작 : section1 */
.frame2 {
  margin: 0px auto;
  text-align: center;
}
.day-main {
  /* border: 1px solid #000; */
}
.day-suc {
  /* background-color: #df2929; */  
  color:#263343;
  font-size: 36px;
  letter-spacing: -2px;
  text-align: center;           
}

/* 시작 : section2  */
.event-name { 
  /* background-color: #d49466; */
  text-align: center;
  margin: 20px auto;
  margin-bottom: 90px;
}
.line-int {
  /* border: 1px solid #EE137B; */
  width: 300px;
  margin: auto;
}
.custom-btn {
  width: 130px;
  height: 40px;
  color:#cad6e5;
  border-radius: 5px;
  font-family: 'Noto_Sans';
  background: transparent;
  /* cursor: pointer; */
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow:inset 3px 3px 3px 0px rgba(255, 255, 255, 0.5),
                    7px 7px 20px 0px rgba(0,0,0,.1),
                    4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
  cursor: pointer;
  cursor: pointer;
  appearance: none;
  border: none;
}
.custom-btn:focus {
  outline: none;
}

/* 버튼 1번 (종목명) */
.btn-1 {
  line-height: 42px;
  padding: 0;
  border: none;
  font-size: 13.5px;
  text-align: center;
  background:#263343;
}
.btn-1:hover {
  color: #263343;
  background: transparent;
  box-shadow:none;
}
.btn-1:before,.btn-1:after {
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background:#263343;
  box-shadow:-1px -1px 5px 0px #fff,
              7px 7px 20px 0px #0003,
              4px 4px 5px 0px #0002;
  transition:400ms ease all;
}
.btn-1:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.btn-1:hover:before,.btn-1:hover:after{
  width:100%;
  transition:800ms ease all;
}
button {
  margin: 5px;
}

/* 버튼 11 (click) */
.btn-11 {
  border: none;
  background: #ee137b;
  color: rgb(237, 237, 237);
  overflow: hidden;
  font-size: 16px;  
}
.btn-11:before {
  position: absolute;
  content: '';
  display: inline-block;
  top: -180px;
  left: 0;
  width: 30px;
  height: 100%;
  background-color: #fff;
  animation: shiny-btn1 3s ease-in-out infinite;
}
.btn-11:active {
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
        inset -4px -4px 6px 0 rgba(255,255,255,.2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
        
  background: linear-gradient(
    to right,
    #ee137b,
    #ffffffe6,
    #ffffffe6,
    #ee137b    
  );
}

/* 쿠팡광고 */
.sideBanner {
  /* background-color:#9caec7; */
  margin-top: 30px;
}
.txt-label {
  width: 280px;
  height: 170px;
  margin-left: -6px;
  margin-top: 8px;
  margin-bottom: 10px;
  border-radius: 8px;
}

/* 시작 : footer */
footer {
  background-color:var(--background-color);
  width: auto;
  height: 60px;
  padding: 15px;
  /* margin-top: 15px; */
  overflow: hidden;
}
.foot-text {
  /* border: 1px solid #EE137B; */
  height: 40px;
  padding-top: 20px;
  font-size: 11px;
  text-align: center;
}
.foot-text a {
  /* border: 1px solid #EE137B; */
  color:#ccc;
}
#scrollUp {
  background-image:url(img/H.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 42px;
  height: 42px;
  border-radius: 3px;
  bottom: 20px;
  right: 16px;
  opacity: 0.7;  
  position: fixed;
}


/* 시작 : 미디어쿼리 768이하 화면 */
@media screen and (max-width:768px) {
  .navbar {
    flex-direction: column;
    padding-top: 36px;
    padding-bottom: 20px;
  }
  .navbar_iconslogo {
    top: 3px;
    left: 30px;
    width: 53%;
  }  
  .navbar_iconslogo img {
    display: block;
    /* opacity: 0.8; */
    margin: 0px;
  }
  .navbar_menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left: 0px;
  }
  .navbar_menu li {
  text-align: center;
  }
  .navbar_icons {
    display: none;
    justify-content: center;
    width: 100%;
  }
  .navbar_menu.active,
  .navbar_icons.active {
  display: flex;
  }
  .navbar_tooglebtn {
    display: block;  
  }
  .event-name {
    margin: 15px 0px 40px 0px;
  }
  .sideBanner {
    background-color:#E0E5EC;
    top: 22%;  
    color:#fff;
  }
  .foot-text {
  
  }
}

/* 키프레임 */
@-webkit-keyframes shiny-btn1 {
    0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
    80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
    81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
    100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
}