/* 구조적 */
:root {
  --color: #263343;
  --text-color: #f0f4f5;
  --text-p: #353535;
  --background-color: #263343;
  --accent-color: #d49466;
  --font-size: 13px;
  --size-button: 60px;
  --font-family: "Cormorant Garamond", serif;
  --font: 'Lato', sans-serif;
}

/* TAG 선언 */
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
 }
body {
  background: #e0e5ec;
  user-select:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
}
h1 {
  position: relative;
  margin: 20px 0;
  text-align: center;
  color: #353535;
  font-size: 40px;
  font-family: "Cormorant Garamond", serif;
}
p {
  margin: 10px;
  text-align: center;
  color: #353535;
  font-size: 16px;
  font-family: 'Lato', sans-serif;  
}
a {
  text-align: center;
  color:#ccc;
}
button {
  margin: 5px;
}
footer {
  background-color:#263343;
  width: auto;
  height: 60px;
  padding: 10px;
}

/* ID 선언*/
#scrollUp {
  /* background-color: var(--background-color); */
  background-image:url(img/H.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 42px;
  height: 42px;
  border-radius: 3px;
  bottom: 17px;
  right: 20px;
  opacity: 0.7;  
  position: fixed;
}

/* CLASS 선언 */
.navbar {
  background-color: #263343;
  padding: 6px 12px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.navbar_menu {
  display: flex;
}
.navbar_menu li:hover {
  background-color: #d49466;
  border-radius: 4px;
}
.log-main {
  right: 50%;
}
.navbar_menu li {
  padding: 8px 12px;
}
.navbar_icons {
  display: flex;
  color:var(--text-color);
}
.navbar_icons li {
  padding: 8px 6px;
}
.navbar_tooglebtn {
  display: none;
  position: absolute;
  right: 32px;
  top: 10px;
  font-size: 24px;
  color: #d49466;
}
.navbar_icons img {
  width: 34px;  
}
.stick {
  color: #ccc;
  margin: 0px 4px;
}
.footer-inner {
  /* border: 1px solid #EE137B; */
  height: auto; 
}
.foot-text {
  /* background-color:#d49466 ; */
  height: 60px;
  padding-top: 4px;
  font-size: 12px;
  text-align: center;
  font-weight: lighter;
  font-family:var(--font);
  color:#ccc;
}
.menu-2 {
  margin: 15px 0;
}
.blurb {
  position: absolute;
  width: 200px;
  height: 400px;
  right: 10%;
  top: 35%;
  border: 1px;
  border-style: dashed;
  border-color: #000;
  text-align: center;
}
.blurb-box{
  margin: 20px auto;
  text-align: center;
}
.custom-btn {
  width: 130px;
  height: 40px;
  color:#ccc;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  background: transparent;
  /* cursor: pointer; */
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
                    7px 7px 20px 0px rgba(0,0,0,.1),
                    4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
/* 버튼 1번 (종목명) */
.btn-1 {
  line-height: 42px;
  padding: 0;
  border: none;
  font-size: 13.5px;
  text-align: center;
  background: #29384c;
}
.btn-1:hover {
  color: var(--background-color);
  background: transparent;
  box-shadow:none;
}
.btn-1:before,.btn-1:after {
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: var(--background-color);
  box-shadow:-1px -1px 5px 0px #fff,
              7px 7px 20px 0px #0003,
              4px 4px 5px 0px #0002;
  transition:400ms ease all;
}
.btn-1:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.btn-1:hover:before,.btn-1:hover:after{
  width:100%;
  transition:800ms ease all;
}
/* 버튼 11 (클릭) */
.btn-11 {
  border: none;
  background: #EE137B;
  color: #fff;
  overflow: hidden;
  cursor: pointer;
  font-size: 15px;
  /* font-weight: 600; */
}
.btn-11:before {
  position: absolute;
  content: '';
  display: inline-block;
  top: -180px;
  left: 0;
  width: 30px;
  height: 100%;
  background-color: #fff;
  animation: shiny-btn1 3s ease-in-out infinite;
}
.btn-11:active{
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
        inset -4px -4px 6px 0 rgba(255,255,255,.2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}
/* 버튼 16번 (목록) */
.btn-16 {
  color: #353535;
  width: 129px;
  line-height: 38px;
  padding: 0;
  border: none;
  margin: 0px 5px 0px 0px;
}
.frame {
  margin: 0px auto;
  text-align: center;
} 
.event-name { 
  text-align: center;
}
.line-int {
  width: 400px;
  display: inline-block;
}
/* 쿠팡광고 */
.sideBanner {
  /* background-color:#9caec7; */
 }
.txt-label {
  width: 280px;
  height: 170px;
  margin-left: -6px;
  margin-top: 8px;
  margin-bottom: 10px;
  border-radius: 8px;
}
/* 디자인배너 */
.banner {
  /* background-color: #bdc7c6; */
  text-align: center;
  padding: 10px 0px;
  display: block;
}
.bt-img a {
  /* background-color: #1c11b4; */
  display: inline-block;
}
.bt-img img {
  /* background-color: #d49466; */
  max-block-size: 90px;
  height: auto;
  margin-left: -7px;
}
.site-add {
  font-size: 14px;
}

/* 미디어쿼리 */
@media screen and (max-width:768px) {
  .menu-2 {
  margin: 15px 0;
  margin-bottom: -15px;
  }
 .sideBanner {
  background-color:#E0E5EC;
  top: 22%;  
  color:#fff;
  }
  .navbar {
  flex-direction: column;
  align-items: flex-start;
  padding-top: 50px;
  }
  .navbar_logo a {
  color:#263343;
  }
  .navbar_menu {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
  }
  .navbar_menu li {
  width: 100%;
  text-align: center;
  }
  .navbar_icons {
  display: none;
  justify-content: center;
  width: 100%;
  }
  .navbar_tooglebtn {
  display: block;
  }
  .navbar_menu.active,
  .navbar_icons.active {
  display: flex;
  }
  .event-name{
  display: block;    
  width: 100%;
  margin: 25px auto 5px auto;
  text-align: center;
  }
  .line-int {
  display:inline-block;
  }
  .foot-text {
    /* background-color:#852c2c; */
    padding-top: 0px;
    width: 300px;
    text-align: center;
    margin: auto;
  }

}
/* 키프레임 */
@-webkit-keyframes shiny-btn1 {
    0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
    80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
    81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
    100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
}